<div class="card card_container">
    <h5 class="card-header">REGISTER</h5>
    <div class="card-body">
      <div class="mb-3 row">
        <div class="from_reg">
        <input class="form-control" type="text" placeholder="Username" aria-label="Username">
        <input class="form-control" type="password" placeholder="Password" aria-label="Password">
        <input class="form-control" type="text" placeholder="ID card" aria-label="ID card">
        <input class="form-control" type="text" placeholder="Postnumber" aria-label="Postnumber">
        <input class="form-control" type="text" placeholder="Phone" aria-label="Phone">
    </div>
        <div class="reg_btn"><a href="#" class="btn btn-primary register_btn">Let's findout</a></div>
     
    </div>
  </div>
