.card_container{
    align-items: center;
    margin-top: 5%;
    width: 50%;
    margin-left: 25%;
}
.form-control{
    margin-bottom: 10px;
    width: 100%;
    
}
.reg_btn{
    width: 50%;
}
.from_reg{
    align-items: center;
    margin-left: 0%;
}